<script src="/javascripts/modlToJson.js"></script>
<script src="/javascripts/jsonToModl.js"></script>
<script>
function convertObject(toLanguage){
  $("#converted-object").html("");

  if(toLanguage=="modl"){
    objectToConvert =  $("#json").val();
    convertJsonToModl(objectToConvert);
  }
  else{
    objectToConvert =  $("#modl").val();
    convertModlToJson(objectToConvert);
  }
}

function displayObject(language,newObject){
  if(language=='modl'){
    statusName = "json";
  }
  else{
    statusName = "modl";
  }
  $("#converted-object").html(newObject);
  $("#"+statusName+"-status").html("Valid Object");
  $("#"+statusName+"-status").removeClass("error");
  $("#"+statusName+"-status").addClass("success");
}

function displayError(language,objectError){
  objectErrorMessage = objectError.message;
  if(language=='json'){
    statusDiv = 'modl-status';
  }
  else{
    statusDiv = 'json-status';
  }
  $("#"+statusDiv).html(objectErrorMessage);
  $("#"+statusDiv).removeClass("success");
  $("#"+statusDiv).addClass("error");
}

const convertModlToJson = (data) => {
  try {
    if (data) {
      const expanded = MODLInterpreter.interpreter.interpretToPrettyJsonString(data);
      //const expanded = modlInterpreter.interpretToPrettyJsonString(data);
      displayObject("json",expanded)
    }
  } catch (e) {
    displayError("json",e)
  }
};


const jsonInterpreter = MODLConverter.jsonToModl;

const convertJsonToModl = (data) => {
  try {
    if (data) {
      jsonStr = data;
      json = (jsonStr === '') ? {} : JSON.parse(jsonStr);

      const expanded = jsonInterpreter.objectToModl(json);
      displayObject("modl",expanded)
    }
  } catch (e) {
    displayError("modl",e)
  }
};
</script>
<div id="modl-input">
  <p style="margin-bottom:0px;">
    <textarea name="modl" id="modl" class="language-input"><%=params[:modl]%></textarea>
  </p>
  <div style="padding-top:5px;"><input type="button" value="<%=@default_json_button_text%>" style="float:right;" onclick="convertObject('json');">
  </div>
</div>
<div id="json-input" style="display:none;">
  <p style="margin-bottom:0px;">
    <textarea name="json" id="json" class="language-input"><%=params[:json]%></textarea>
  </p>
  <div style="padding-top:5px;"><input type="button" value="<%=@default_modl_button_text%>" style="float:right;" onclick="convertObject('modl');">
  </div>
</div>
<div style="margin-top:10px;">
  <h3 id="converted-object-title">Converted object</h3>
  <div id="modl-status" class="status" class=><%=@default_modl_text%></div>
  <div id="json-status" style="display:none" class="status"><%=@default_json_text%></div>
  <div>  
    <pre id="converted-object">&nbsp;</pre>
  </div>
</div>
<%
if !params[:modl].nil?
%>
  <script>convertObject()</script>
<%
end
%>