<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MODL</title>
    <meta name="description" content="Minimal Object Description Language (MODL)">
    <meta name="author" content="<%=@author_name%>, NUM Technology Ltd">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favico/favicon-16x16.png">
    <link rel="manifest" href="/images/favico/site.webmanifest">
    <link rel="mask-icon" href="/images/favico/safari-pinned-tab.svg" color="#c30000">
    <link rel="shortcut icon" href="/images/favico/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="MODL">
    <meta name="application-name" content="MODL">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-config" content="/images/favico/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="num-proof" content="0b87b0c5-9fd1-4e40-9b2e-d32806d7b570">    
    <%if @page_style then %><link rel="stylesheet" href="/css/<%=@page_name%>.css"><%end%>
    <%if @mini_playground then %><link rel="stylesheet" href="/css/playground-header.css"><%end%>
    <!--[if lt IE 9]>
    <script src="/javascripts/html5shiv.js"></script>
    <![endif]-->
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
  </head>
  <body>
    <%= erb(:header) %>
    <div id="content-holder">
      <div id="content">
        <%= yield %>
      </div>
    </div>
    <%= erb(:footer) %>
    <script src="/javascripts/bottom.js"></script>
    <%
    if @mini_playground
    %>
      <div id="playground-window">
        <div class="playground-title">
          <div class="title">Playground</div>
          <div class="window-options">
            <div class="window">Window:&nbsp;</div>
            <div class="reduce"><a onClick="playgroundSize('small')">Reduce</a>&nbsp;|&nbsp;</div>
            <div class="enlarge nm"><a onClick="playgroundSize('big')">Enlarge</a>&nbsp;|&nbsp;</div>
            <div class="full"><a>Full</a>&nbsp;|&nbsp;</div>
            <div class="close"><a>Close</a></div>
          </div>
        </div>        
        <div class="playground-content">
          <iframe id="playground-iframe" name="playground-iframe" src="/mini-playground" scrolling="no"></iframe>
        </div>
      </div>
    <%
    end
    %>    
  </body>
</html>