<h1 class="content-title">Libraries</h1>
<p>
  MODL libraries will be added to this page as they are released. If you don't see a library in your programming language of choice you could build your own library based on the <a href="/specification">technical specification</a> or sign-up for <a href="library-alerts">library alerts</a>.
</p>
<div id="grammar" class="sectionh2">
  <h2>Creating a Library</h2>
  <p>
    If you would like to create a library, you can use the <a href="https://github.com/MODLanguage/grammar-antlr4" target="_blank">ANTLR4 grammar</a>. <%=link_icon("external")%>
  </p>
</div>
<div id="java-library" class="sectionh2">
  <h2>Java <img src="/images/java-logo.png" style="width:25px;height:33px;margin-left:5px;"></h2>
  <p>
    The Java interpreter is available on GitHub: <a href="http://www.github.com/MODLanguage/java-interpreter" target="_blank">http://www.github.com/MODLanguage/java-interpreter</a>. <%=link_icon("external")%>
  </p>
  <p>
    This library doesn't include an API for accessing the MODL object yet (coming soon) but does provide the option of converting the MODL object to JSON – which can then be accessed using the Java JSON API. To convert MODL to a JSON string:
  </p>
  <%=code_with_note("note",'
    String input = "test(message=Hello World)";
    String json = ConfigInterpreter.parseToJson(input);',
    "Java: Convert the MODL input to JSON output.")
  %>
  <p>
    The library also includes a useful HTTP wrapper.
  </p>
</div>
<div id="other-languages" class="sectionh2">
  <h2 id="other-languages-title">Other Languages</h2>
  <p>
    We're still working on other libraries. In the meantime, you could use the Java http wrapper service. You'll need Java and <a href="https://gradle.org/install/" target="_blank">Gradle</a>. <%=link_icon("external")%>
  </p>
  <div id="http-server">
    <h3>Setting up the HTTP server</h3>
    <p>
      To install the Java library and start the HTTP server, run these commands in the directory of your choice:
    </p>
    <%=code_with_note("git-clone",
        "
        git clone https://github.com/MODLanguage/java-interpreter

        cd java-interpreter

        ./gradlew run",
        "Commands to clone the git repository from GitHub and start the server using Gradle.")
    %>
    <h4>Using the HTTP server</h4>
    <p>
      Once the server is running, you can submit data directly through the query string:<br>
      <a href="http://0.0.0.0:8080/?modl=test(message=this is a test message)" target="_blank">http://0.0.0.0:8080/?modl=test(message=this is a test message)</a> <%=link_icon("external")%>.
    </p>
    <p>
      The server converts it to JSON.
    </p>
    <h4 id="java-http-client-title">Using the basic client</h4>
    <p>
      There's a very basic client available in the <code>client</code> folder of the project – open the <code>client/index.html</code> file in a web browser – you can use it to send MODL to the HTTP server.
    </p>
  </div>
</div>
<div class="sectionh2" id="invite">
  <div style="border:1px solid #ccc;padding:20px;background-color:#fffddd">
    If you're aware of a library that's not included on this page please let us know. If you're a developer and would like to develop a MODL library please get in touch, we'd love to hear from you. We can answer any questions you have about the specification. The best way to reach us is on <a href="http://www.twitter.com/MODLanguage" target="blank">Twitter</a> <%=link_icon("external")%>.
  </div>
</div>
<p style="padding-top:10px;">
</p>